*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
   
    background: linear-gradient(90deg, #2C2C54, #1E1E2F, #2C2C54);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hadith{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    text-align: center;
    padding: 100px 300px;
}
.hadithTitle{
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5rem;
  
}
.hadithNumber{
    font-size: 2rem;
    color: #fff;
}

.hadith h1{
    font-size: 2.5rem;
    color: #fff;
    background-color: #272752;
    padding:  2rem;
    border-radius: 5px;
}

.hadith p{
    font-size: 2rem;
    color: #fff;
}


.getHadith{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-size: 2rem;
    cursor: pointer;
    text-transform: uppercase;
}


.getHadith:hover{
    background-color: #1E1E2F;
    color: #fff;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}


/* Responsive */

@media (max-width: 480px) {
    body{
        background: linear-gradient(90deg, #2C2C54, #1E1E2F, #2C2C54);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:  100px;


    }
    .hadith{
        padding: 50px 100px;
    }
    .getHadith{
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        margin-bottom: 2rem;
    }
    .hadith h1{
        font-size: 1rem;
    }
    .hadith p{
        font-size: 1.5rem;
    }
}

@media (min-width: 481px) {
    .hadith{
        padding: 20px 50px;
    }
    .getHadith{
        font-size: 1.2rem;
        padding: 0.5rem 1rem;    
        margin-bottom: 2rem;
    }
    .hadith h1{
        font-size: 1.5rem;
    }
    .hadith p{
        font-size: 1.2rem;
    }
}
